/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #efeef6;
}

#root {
  width: 100%;
  padding: 0 10px;
}

.login-container {
  width: 410px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 32px 34px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container .form-title {
  text-align: center;
  font-size: 1.37rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}

@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    width: 100%;
  }
}

.login-container .social-login {
  display: flex;
  gap: 20px;
}

.social-login .social-button {
  display: flex;
  width: 100%;
  gap: 13px;
  cursor: pointer;
  padding: 0.73rem 0;
  font-weight: 500;
  font-size: 16px;
  border-radius: 0.31rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #D5CBFF;
  background: #F9F8FF;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.social-login .social-button:hover {
  background: #f1eff9;
  border-color: #8673dd;
}

.login-container .separator {
  margin: 1.5rem 0;
  text-align: center;
  position: relative;
}

.login-container .separator span {
  position: relative;
  z-index: 1;
  background: white;
  padding: 0 0.9rem;
  font-weight: 500;
  font-size: 1.06rem;
}

.login-container .separator::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #141111;
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.login-form .input-wrapper .input-field {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.31rem;
  border: 1px solid #bfb3f2;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus {
  border-color: #8673dd;
}

.login-form .input-wrapper i {
  color: #0e0d0d;
  position: absolute;
  top: 50%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus ~ i {
  color: #604bb4;
}

.login-form .forgot-pass-link {
  display: block;
  width: fit-content;
  margin-top: -0.46rem;
}

.login-form .login-button {
  width: 100%;
  height: 54px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.125rem;
  background: #5F41E4;
  color: #fff;
  font-weight: 500;
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  transition: 0.2s ease;
}

.login-form .login-button:hover {
  background: #4320df;
}

.login-container .signup-text {
  align-items: center;
  margin: 1.75rem 0 0.31rem;
  font-weight: 500;
}

.login-container a {
  color: #5F41E4;
  font-weight: 500;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}



.logout-button {
  margin: 0;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 50%; 
}

.logout-button:hover {
  background-color: #040404;
}

.logout-box {
  width:400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

 .logout-box-inner{
   
  width: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  
 }
