#root {
  max-width: 1450px;
  margin: 0 auto;
  padding: 43px;
  text-align: center;
  background-color: #e3ebee;
}
.login-form {
  max-width: 700px; 
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

@media (max-width: 992px) {
  .login-form {
      flex-direction: column;
      padding: 20px; 
        border-radius: 5px;
  }
}

.login-form h2 {
  text-align: center;
}

.login-form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

.login-form input {
  width: 100%; 
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.login-form button {
  width: 100%; 
  padding: 0.5rem;
  background-color: #101311;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box; 
}

.login-form button:hover {
  background-color: #b4bcf3;
}
