#root {
  max-width: 1450px;
  margin: 0 auto;
  padding: 43px;
  text-align: center !important;
  position: relative;
  background-color: #e3ebee;
}

.login-form {
  width: 100%; 
  width: 700px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

@media (max-width: 992px) {
  .login-form {
      padding: 20px; 
      border-radius: 5px;
      width: 90%; 
  }
}

@media (max-width: 768px) {
  #root {
    padding: 20px; 
  }

  .login-form {
    width: 95%;
    padding: 1rem; 
  }

  .login-form h2 {
    font-size: 1.5rem; 
  }

  .login-form label {
    font-size: 0.9rem; 
  }

  .login-form input {
    padding: 0.4rem; 
  }

  .login-form button {
    padding: 0.4rem; 
  }
}

@media (max-width: 480px) {
  .login-form {
    padding: 1rem; /* Further reduce padding */
    width: 100%; /* Full width on very small screens */
  }

  .login-form h2 {
    font-size: 1.2rem; 
  }

  .login-form label,
  .login-form input,
  .login-form button {
    font-size: 0.8rem; 
  }
}

.login-form h2 {
  text-align: center;
}

.login-form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

.login-form input {
  width: 100%; 
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.login-form button {
  width: 100%; 
  padding: 0.5rem;
  background-color: #101311;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box; 
}

.login-form button:hover {
  background-color: #b4bcf3;
}
